# pycharm
.idea

# python
venv
__pycache__

# allure
allure-results
allure-reports

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json

# For GitHub
.github/workflows/_temp/

# For GitLab
.gitalab-ci_tmp/

.DS_Store